.category-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
    gap: 10px;
}

@media only screen and (max-width: 992px) {
    .category-section {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}

@media only screen and (max-width: 600px) {
    .category-section {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }
}

.categoryMain button {
    padding: 10px 25px;
    margin-top: 10px;
}

.buttonCategory {
    padding: 10px;
    border: none;
}


/***/

.categoryMain {
    border: 1px solid #cccc;
    padding: 25px;
    width: 500px;
    overflow: hidden;
}

.categoryMain img {
    width: 100%;
}

.categoryMain h2 {
    font-size: 15px;
    margin-top: 15px;
    color: #585858;
    cursor: pointer;
}


/*Product Style*/

.product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media only screen and (max-width: 992px) {
    .product-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}

.productMain {
    margin-top: 25px;
}

.productMain img {
    max-width: 100%;
    height: 350px;
}

.productMain {
    text-align: center;
    margin-top: 25px;
}

.productMain .showdetails {}

.productMain .showdetails .show-icon {}

.productMain:hover .showdetails {
    display: block;
}

.icon {
    text-align: center;
}

.icon-cart,
.icon-search,
.icon-heart {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: #528ec1;
}


/**new style */

.morecategory,
.moreproduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.morecategory p,
.moreproduct p {
    color: #528ec1;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}


/*  About-us */

.about-us {
    background-image: url("https://images.pexels.com/photos/6617494/pexels-photo-6617494.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 550px;
    /*75.78px*/
    background-size: cover;
    position: relative;
    margin-top: 34px;
}

.overlay-about-us {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.about-us-details {
    position: absolute;
    color: #ffff;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.about-us-details p {
    color: #528ec1;
}

.ourTeam h2 {
    text-align: center;
}

.ourTeamImg {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourTeam img {
    width: 100%;
    height: 350px;
}

.ourTeam .imgtitle {
    text-align: center;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ourTeam .imgtitle:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ourTeam button {
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    background-color: var(--MainColor);
    color: #ffff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.ourTeam button:hover {
    padding: 10px 50px;
}