.category-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
    gap: 10px;
}

@media only screen and (max-width: 992px) {
    /* .category-section {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    } */
}

@media only screen and (max-width: 600px) {
    /* .category-section {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    } */
}

.categoryMain button {
    padding: 10px 25px;
    margin-top: 10px;
}

.buttonCategory {
    padding: 10px;
    border: none;
}


/***/

.categoryMain {
    border: 1px solid #cccc;
    padding: 25px;
    width: 500px;
    overflow: hidden;
}

.categoryMain h2 {
    font-size: 15px;
    margin-top: 15px;
    color: #585858;
    cursor: pointer;
}


/*Product Style*/

.product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media only screen and (max-width: 992px) {
    .product-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}

.productMain {
    margin-top: 25px;
}

.productMain img {
    max-width: 100%;
    height: 350px;
}

.productMain {
    text-align: center;
    margin-top: 25px;
}

.productMain .showdetails {}

.productMain .showdetails .show-icon {}

.productMain:hover .showdetails {
    display: block;
}

.icon {
    text-align: center;
}

.icon-cart,
.icon-search,
.icon-heart {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: #528ec1;
}


/**new style */

.morecategory,
.moreproduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.morecategory p,
.moreproduct p {
    color: #528ec1;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}