.category-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .category-section {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.categoryMain {
    position: relative;
    margin: 10px;
}

.categoryMain img {
    max-width: 100%;
}

.categoryMain .titleforCategory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.categoryMain h2 {
    color: #ffff;
}

.buttonCategory {
    padding: 10px;
    border: none;
}