.MainSectionForViewProduct {
    padding: 15px;
}

.Contect-Main-Section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.viewProduct {
    border: 1px solid red;
    padding: 10px;
}

.viewProduct img {
    max-width: 100%
}