:root {
    --MainColor: #182e49;
    --SecColor: #528ec1;
}

.PurshacePerant {
    position: relative;
    min-height: 750px;
    padding-bottom: 100px;
}

.PurshacePerant .PurshaceChild {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    padding: 25px;
    width: 1000px;
}

::placeholder {
    font-size: 20px;
}

.PurshacePerant h4 {
    padding-left: 20px;
}

.PurshaceChild label {
    font-size: 25px;
}

.PurshaceChild input {
    display: block;
    outline: none;
    margin: 10px 0px;
    border: 2px solid brown;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.PurshaceChild button[type=submit] {
    background-color: var(--MainColor);
    color: #ffff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    margin-top: 15px;
    -o-border-radius: 3px;
}

.PurshaceChild .total-amount {
    font-weight: bold;
    margin-top: 10px;
    color: red;
}


/* End of file */

.xxxx input[type=text],
.xxxx input[type=number] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}