.wishlistBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.wishlistBox img {
    max-width: 100%;
    height: 350px;
}

.titelWishlist {
    max-width: 500px;
}

.wishlistBox button {
    padding: 10px;
    background-color: var(--MainColor);
    color: white;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.wishlistBox button:hover {
    background-color: red;
}

@media only screen and (max-width: 600px) {
    .titelWishlist {
        text-align: center;
    }
    .container h4 {
        text-align: center;
    }
}