    .categorysection {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 30px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .categorysection img {
        width: 350px;
        height: 350px;
    }