.pageCount {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.pageCount h2 {
    background-color: #000;
    padding: 10px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.active,
.btn:hover {
    background-color: #666;
    color: white;
}
