.pageCount {
    margin: 20px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.pageCount h2 {
    background-color: #182e49;
    padding: 5px;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.active,
.btn:hover {
    background-color: #666;
    color: white;
}

.pageCount .right-arrow,
.pageCount .left-arrow {}