.FooterPerant{
 background: rgb(85, 84, 84); padding: 5px 0 ;
    position: relative;
   height: 150px;
}

.footerChild{
    display: flex;
    gap: 35%;
   margin-bottom: 60px;
    text-align: left;
    align-items: center;
    font-weight: bold;
    padding-left: 30px;
    cursor:pointer;
}

.footerChild p , .footerChild span {
    margin-top: 60px;
}
