.LoginMain {
    position: relative;
}

.LoginMain h3 {
    text-transform: uppercase;
    color: #528ec1;
    text-align: center;
}

.loginChild {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: grid;
    gap: 10px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::placeholder {
    font-size: 13px;
}

.loginChild input {
    background-color: #eeee;
    outline: none;
    border: none;
    padding: 10px;
}

.loginChild input:focus {
    border: 1px solid black;
}

.sumbitLogin {
    background-color: #528ec1;
    color: white;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
}

.ret {
    text-align: center;
    font-size: 15px;
}

.returnstore {
    text-decoration: none;
    color: #528ec1;
}

.ErrorMsg {
    color: red;
    font-size: 18px;
}