.LoginMain {
    position: relative;
   margin: 25vh;
   height: 40vh;
}

.loginChild {
    position: absolute;
    left: 50%;
   /* border: 3px solid red; */
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: grid;
   gap: 30px;
   width: 500px;
   height: 90%;
   padding: 5% 5%;
   background: #111010;
   opacity: 0.9;

 
}

.loginChild input button {
    width: 400px;
    border-radius: 10px;
    font-family: Palatino, serif;
    background: #f2f2f2;
    box-sizing: border-box;
}

button:hover ,
button:active {
    background-color: hotpink;
}