.LoginMain {
    position: relative;
    margin: 15vh;
    height: 30vh;
}

.LoginMain h3 {
    text-align: center;
    text-transform: uppercase;
}

.loginChild {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: grid;
    gap: 10px;
}

::placeholder {
    font-size: 13px;
}

.loginChild input {
    background-color: #eeee;
    outline: none;
    border: none;
    padding: 5px;
}

.loginChild input:focus {
    border: 1px solid black;
}

.sumbitLogin {
    background-color: #528ec1;
    color: white;
    padding: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
}

.ret {
    text-align: center;
    font-size: 15px;
}

.returnstore {
    text-decoration: none;
    color: #528ec1;
}