.LoginMain {
    position: relative;
   margin: 25vh;
  

}

.loginChild {
    position: absolute;
    left: 50%;
    border: 1px solid red;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: grid;
   gap: 20px;
 
}

.loginChild input {
   width: 50%;
   height: 50%;
}