.Register {
    position: relative;
}

.Register h3 {
    color: #528ec1;
    margin: 10px;
    text-align: center;
}

.childRegister {
    position: fixed;
    left: 50%;
    width: 700px;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    -o-transform: translate(-50%, -50%);
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.childRegisterTwo input {
    background-color: #eeee;
    outline: none;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.childRegisterTwo input:focus {
    border: 1px solid black;
}

.createAcc {
    background-color: #528ec1;
    color: white;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    margin: 10px;
}