body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #ffff;
    font-family: Montserrat, sans-serif;
}

.container {
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
}