.showProduct {
    padding: 50px 0px;
}

.ProductMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.viewProduct {
    margin-top: 50px;
}

.contactProduct {
    max-width: 100%;
}

.content img {
    width: 350px;
    height: 350px;
}

.old-price {
    color: red;
}

.Saving {
    color: green;
}