.showProduct {
    padding: 100px 0px;
    height: 650px;
}

.ProductMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ProductMain img {
    width: 100%;
    height: 350px;
}

.viewProduct {
    margin-top: 50px;
}

.contactProduct {
    max-width: 500px;
}

.content img {
    width: 350px;
    height: 350px;
}

.old-price {
    color: red;
}

.Saving {
    color: green;
}

.cartbtnshow,
.wishlist-btn-show {
    background-color: var(--MainColor);
    color: #ffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 5px;
}

@media only screen and (max-width: 772px) {
    .ProductMain {
        text-align: center;
    }
}