:root {
    --mainColor: #182e49;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    background-color: var(--mainColor);
    width: 100%;
}

.SearchBarInput::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.Navigation img {
    width: 60%;
}

.Searchbar {
    position: relative;
}

.SearchBarInput {
    width: 300px;
    padding: 6px;
    outline: none;
    background-color: var(--mainColor);
    color: white;
    border: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    border-bottom: 2px solid white;
}

.SearchBarInput:hover {
    background-color: #11052C;
    border: none;
}

.searchIcon {
    position: absolute;
    right: 5px;
    top: 7px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.logoName {
    /* color: rgb(0, 238, 255);*/
    color: #D4ECDD;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.logoName span {
    color: #345B63;
}

.navbar {
    font-size: 18px;
    color: green;
}

.HeartIcon,
.CartShop,
.Logout {
    padding-right: 10px;
}

.LogoutIcon {
    border-left: 2px solid white;
    font-size: 18px;
    padding: 5px;
}

.navLogin,
.navRegister {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 11px
}

.CartShop,
.Logout {
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.shopCartMain {
    position: relative;
}

.shopCartMain .valueShop {
    position: absolute;
    right: 12px;
    padding: 3px;
    color: #ffff;
    font-size: 8px;
    top: -7px;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fabars {
    display: none;
}

@media only screen and (max-width: 600px) {
    .Searchbar,
    .navbar {
        display: none;
    }
    .fabars {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
}