:root {
    --mainColor: #182e49;
}

.main-Cont {
    background-color: var(--mainColor);
    font-family: 'Architects Daughter', cursive;
}

.Navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    height: auto;
}

.SearchBarInput::placeholder {
    color: white;
    opacity: 1;
}

.Navigation img {
    width: 40%;
}

.Searchbar {
    position: relative;
}

.SearchBarInput {
    width: 300px;
    padding: 6px;
    outline: none;
    background-color: var(--mainColor);
    color: white;
    border: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.SearchBarInput:hover {
    background-color: #11052C;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.searchIcon {
    position: absolute;
    right: 5px;
    top: 12px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.logoName {
    /* color: rgb(0, 238, 255);*/
    color: #D4ECDD;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar {
    font-size: 18px;
    color: white;
}

.HeartIcon,
.Logout {
    padding-right: 10px;
    cursor: pointer;
    font-size: 35px;
}

.LogoutIcon {
    border-left: 2px solid white;
    font-size: 18px;
    padding: 5px;
}

.navLogin,
.navRegister {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px
}

.CartShop,
.LogoutIcon {
    font-size: 25px;
    margin-left: 5px;
    cursor: pointer;
}

.shopCartMain {
    position: relative;
}

.shopCartMain .valueShop {
    position: absolute;
    right: 10px;
    padding: 4px;
    color: #ffff;
    font-size: 10px;
    top: -20px;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fabars {
    display: none;
}

@media only screen and (max-width: 992px) {
    .Navigation {
        flex-direction: column;
        gap: 10px;
    }
}


/**style all category*/

.showcategoryundernavbar {
    background-color: var(--mainColor);
    color: white;
    display: flex;
}

.showcategoryundernavbar p {
    padding: 10px;
    cursor: pointer;
}